<mat-progress-bar mode="indeterminate" *ngIf="barLoading"></mat-progress-bar>
<mat-card>
    <mat-card-header>
        
        <mat-card-title *ngIf="instancia.State.Code == 16" class="blue-text">{{ instancia.State.Name | uppercase }}</mat-card-title>
        <mat-card-title *ngIf="instancia.State.Code == 80" class="red-text">{{ instancia.State.Name | uppercase }}</mat-card-title>
        <mat-card-title *ngIf="instancia.State.Code != 80 && instancia.State.Code != 16" class="orage-text">{{ instancia.State.Name | uppercase }}</mat-card-title>
        <mat-card-subtitle>{{ instancia.InstanceId }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/ec2.png">
    <mat-card-content>
        <mat-slide-toggle color="primary" (change)="onChange($event, instancia.InstanceId)" [(ngModel)]="isChecked" [disabled]="onlyReadCheck">Estado</mat-slide-toggle>
        <br/><br/>
        <mat-chip-list>
            <mat-chip *ngFor="let tag of instancia.Tags">{{ tag.Value }}</mat-chip>
        </mat-chip-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="primary" fxFlex="100%" (click)="verDetalle(instancia.InstanceId)">DETALLE</button>
        <button mat-button color="warn" fxFlex="100%" (click)="restartInstance(instancia.InstanceId)">REINICIAR</button>
    </mat-card-actions>
</mat-card>