<div class="main-div animated fadeIn fast">
    <mat-card class="card center">
        <mat-card-header>
            <div>
                <span class="m-t-1">
                <img class="espacio" src="assets/images/logo-5.png" alt="">
            </span>
            </div>
        </mat-card-header>
        <div class="text-center m-t-3">
            <span>
                <label class="f-s-20">IDENTIFICACIÓN DE USUARIO</label>
            </span>
        </div>
        <form autocomplete="off" [formGroup]="forma" (ngSubmit)="login()">
            <mat-card-content>
                <mat-form-field class="btn-block m-b-1">
                    <mat-label>Rut</mat-label>
                    <input matInput type="text" formControlName="ID" [class.is-invalid]="rutNoValida">
                    <span *ngIf="rutNoValida" class="helper-text left-align red-text text-accent-1">Rut no válido</span>
                </mat-form-field>
                <mat-form-field class="btn-block m-b-1">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" formControlName="CLAVE" [class.is-invalid]="claveNoValida">
                    <span *ngIf="claveNoValida" class="helper-text left-align red-text text-accent-1">Contraseña no válida</span>
                </mat-form-field>
            </mat-card-content>
            <section class="m-b-2">
                <mat-checkbox class="example-margin" color="primary" formControlName="recordar">Recordar usuario</mat-checkbox>
            </section>
            <mat-card-actions>
                <button class="btn-block" mat-raised-button color="primary" type="submit">INGRESAR</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>